.tabs ul
{
  padding-left: 4rem;
}
.container.main-content-container
{
  width: 50% ;
  margin: auto;
  padding-bottom: 10px;
  .content-block
  {
    box-shadow:0px 1px 3px 1px #dcdcdc;
    padding: 10px;
    border-radius: 0.75rem;
  }
}
.tabs 
{
  a
  {
    transition: all 0.25s;
    &:focus, &:active
    {


      outline:0px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  

}
.group-header
{
  display: flex;
  align-items: center;
}
.group-name-input
{
  font-size: 2rem !important;
  margin-bottom: 10px;
  flex:auto;
}
.group-title
{
  outline: none;
}
.task-item
{
 
  padding-bottom: 10px;
  p
  {
    flex:auto;
    margin-left: 10px;
  }
}
.button .add-new-task
{
  padding: 0px;
  
}
.completed-tasks-block
{
  margin-top: 20px;
}
@media screen and (max-width:1024px)
{
  .container.main-content-container
  {
    width: 60%;
  }
}
@media screen and (max-width:768px)
{
  .container.main-content-container
  {
    width: 75%;
  }
}
@media screen and (max-width:425px)
{
  .container.main-content-container
  {
    width: 96%;
  }
  .tabs ul
  {
    padding-left: 0rem;
  }
}